html{
    overflow-x: hidden;
}

.asd{
    background-color: black;
    border: 1px solid black;
}

.form-group{
    border: 1px solid black;
    margin: 10% 0% 0% 10%;
}

.minesweeper_holder{
    width: 70%;
    height: 300%;
    border: 1px solid black;
    margin-left: 15%;
    margin-top: 0.2%;
}
.minesweeper_field{
    height: 100%;
    width: 100%;
    display: grid;
    /*grid-template-columns: repeat(5, 20%);
    grid-template-rows: repeat(5, 20%);*/
}

.field{
    height: 100%;
    width: 100%;
    border: 1px solid black;
    /*font-size: 10px;*/
}

.field:disabled{
    border: 1px solid black;
    background-color: #9c9c9c;
}