@import "variables.scss";

@mixin border {
    border: 1px solid black;
}

.board-holder {
    /*border: 1px solid black;*/
    height: 100%;
    width: 100%;
}

.buton{
    position: relative;
    margin-left: 35%;
    margin-top: 10%;
    transform: rotate(-45deg);
    display: inline;
}

.community{
    @include border;
    height: 20%;
    width: 30%;
    transform: rotate(-45deg);
    margin: 12% 0% 0% 5%;
    display: block;
}
.chance{
    @include border;
    height: 20%;
    width: 30%;
    transform: rotate(-45deg);
    margin: 12% 0% 0% 65%;
    display: block;
}

.board-outer {
    //@include border;
    height: 116%;
    width: 80%;
    margin: 0% 0% 0% 10%;
    display: grid;
    grid-template-columns: repeat(13, 7.7%);
    grid-template-rows: repeat(13, 7%);
}

//Fields
.board-field {
    @include border;
    height: 100%;
    width: 100%;
}

.field {
    @include border;
    height: 100%;
}

.inside-field {
    @include border;
    grid-column: 3/12;
    grid-row: 3/12;
}

.top-left-corner-field {
    @include border;
    grid-column: 1/3;
    grid-row: 1/3;
    position: relative;
}

.top-right-corner-field {
    @include border;
    grid-column: 12/14;
    grid-row: 1/3;
    position: relative;
}

.bottom-left-corner-field {
    @include border;
    grid-column: 1/3;
    grid-row: 12/14;
    position: relative;
}

.bottom-right-corner-field {
    @include border;
    grid-column: 12/14;
    grid-row: 12/14;
    position: relative;
}


.top-row-field {
    @include border;
    position: relative;
    grid-row: 1/3;
}

.left-side-field {
    @include border;
    position: relative;
    grid-column: 1/3;
}

.right-side-field {
    @include border;
    position: relative;
    grid-column: 12/14;
}

.bottom-row-field {
    @include border;
    position: relative;
    grid-row: 12/14;
}

@mixin field-color-bottom {
    width: 103%;
    height: 25%;
    margin-top: -1%;
    margin-left: -2%;
    display: flex;
}

.brown-color {
    @include field-color-bottom;
    @include border;
    background-color: brown;
}

.light-blue-color {
    @include field-color-bottom;
    @include border;
    background-color: lightblue;
}

.black-color-B{
    @include field-color-bottom;
    @include border;
    background-color: black;
}

@mixin field-color-left {
    width: 25%;
    height: 103%;
    float: right;
    margin-top: -1%;
    margin-right: -1%;
}

.black-color-L{
    @include field-color-left;
    @include border;
    background-color: black;
}
.pink-color {
    @include field-color-left;
    @include border;
    background-color: pink;
}

.orange-color {
    @include field_color-left;
    @include border;
    background-color: orange;
}

@mixin field-color-right {
    width: 25%;
    height: 103%;
    float: left;
    margin-top: -1%;
    margin-left: -1%;
}

.black-color-R{
    @include field-color-right;
    @include border;
    background-color: black;
}
.blue-color {
    @include field-color-right;
    @include border;
    background-color: blue;
}

.green-color {
    @include field-color-right;
    @include border;
    background-color: green;
}

@mixin field-color-top {
    width: 103%;
    height: 25%;
    margin-top: -1%;
    margin-left: -2%;
    display: flex;
}

.black-color-T{
    @include field-color-top;
    @include border;
    background-color: black;
}
.red-color {
    @include field-color-top;
    @include border;
    background-color: red;
}

.yellow-color {
    @include field-color-top;
    @include border;
    background-color: yellow;
}


.text {
    font-size: 11px;
    font-weight: bold;
}

.text-2 {
    
    font-size: 15px;
    margin-top: -12%;
    width: 40%;
    float: left;
}



//Special Fields
//Pawn Places on Board
@mixin pawn-place-S{
    
    height: 50%;
    width: 25%;
    position: absolute;
}
.pawn-place-1-R{
    @include pawn-place-S;
    margin-top: -27%;
    margin-left: 75%;
}
.pawn-place-2-R{
    @include pawn-place-S;
    margin-top: -4%;
    margin-left: 75%;
}

.pawn-place-1-L{
    @include pawn-place-S;
    margin-top: -27%;
    margin-left: 45%;
}
.pawn-place-2-L{
    @include pawn-place-S;
    margin-top: -7%;
    margin-left: 45%;
}


@mixin pawn-place-TB{
    height: 25%;
    width: 50%;
    margin-top: 25%;
    position: absolute;
}
.pawn-place-1-T{
    @include pawn-place-TB;
    
}
.pawn-place-2-T{
    @include pawn-place-TB;
    margin-left: 50%;
}

.pawn-place-1-B{
    @include pawn-place-TB;

}
.pawn-place-2-B{
    @include pawn-place-TB;
    margin-left: 50%;
}

.chance-S{
    height: 150%;
    width: 40%;
    @include border;
    transform: rotate(-90deg);
    margin-top: -10.5%;
    margin-left: 12%;
    text-align: center;
    font-size: 60px;
}

.chance-TB{
    @include border;
    height: 55%;
    width: 98%;
    text-align: center;
    font-size: 45px;
}

.chest-area-left{
    @include border;
    height: 120%;
    width: 40%;
    margin: -4% 0% 0% 45%;
    transform: rotate(90deg);
    position: relative;
}

.chest-area-right{
    @include border;
    height: 120%;
    width: 40%;
    margin: -5% 0% 0% 15%;
    transform: rotate(-90deg);
    position: relative;
}

.electric-field{
    @include border;
    height: 120%;
    width: 40%;
    margin: -4% 0% 0% 45%;
    transform: rotate(90deg);
    position: relative;
}

.luxury-tax{
    @include border;
    height: 120%;
    width: 40%;
    margin: -5% 0% 0% 15%;
    transform: rotate(-90deg);
    position: relative;
}

.special{
    @include border;
    height: 55%;
    width: 98%;
    text-align: center;
    font-size: 20px;
}
//Icons
//Start Arrow
.start-arrow-main {
    border: 1px solid black;
    width: 60%;
    height: 10%;
    background-color: red;
    margin: 20% 0% 0% 10%;
}

.start-arrow-top {
    border: 1px solid black;
    width: 25%;
    height: 10%;
    background-color: red;
    margin: -14% 0% 0% 5%;
    transform: rotate(-45deg);
}
.start-arrow-bottom{
    border: 1px solid black;
    width: 25%;
    height: 10%;
    background-color: red;
    transform: rotate(45deg);
    margin: 5% 0% 0% 5%;
}

.start-text{
    margin-left: 5%;
}

//Jail
.jail-main{
    @include border;
    height: 70%;
    width: 70%;
    margin: -1% 0% 0% 30%;
    background-color: orange;
}
.jail-box{
    height: 60%;
    width: 75%;
    @include border;
    background-color: white;
    margin: 15% 0% 0% 12%;
    transform: rotate(35deg);
}

.jail-bar{
    @include border;
    background-color: grey;
    height: 100%;
    width: 10%;
    float: left;
    margin-left: 12%;
}

//Go to jail
.go-jail-main{
    @include border;
    height: 70%;
    width: 70%;
    margin: 27% 0% 0% 0%;
}

//Parking
.parking-main{
    @include border;
    height: 70%;
    width: 70%;
    margin: 29% 0% 0% 30%;
}

//Info Box
.info-box{
    @include border;
    height: 65%;
    width: 50%;
    position: absolute;
    margin-top: 2.5%;
    margin-left: 2%;
    background-color: white;
    display: none;
}

.info-box-color{
    @include border;
    width: 100%;
    height: 20%;
}

.info-box-name{
    //@include border;
    width: 100%;
    height: 25%;
    margin-top: 5%;
}

.info-box-value{
    //@include border;
    border-bottom: 1px solid black;
    width: 100%;
    height: 25%;
    margin-top: 5%;
}

.info-box-title{
    //@include border;
    height: 70%;
    width: 20%;
    display: block;
    font-size: 35px;
    margin: 5% 0% 0% 10%;
}
.info-box-text{
    //@include border;
    width: 60%;
    height: 20%;
    display: block;
    margin: -10% 0% 0% 30%;
}

.info-box-btn-action{
    width: 20%;
    height: 10%;
    margin: 2.5% 0% 0% 15%;
}

.info-box-btn-pass{
    width: 20%;
    height: 10%;
    margin: 2.5% 0% 0% 30%;
}

//Special Box Mixins
@mixin special-box{
    @include border;
    height: 65%;
    width: 50%;
    position: absolute;
    margin-top: 2.5%;
    margin-left: 2%;
    background-color: white;
    display: none;
}
@mixin special-box-title{
    @include border;
    width: 100%;
    height: 20%;
    display: none;
    position: absolute;
}

@mixin special-box-content{
    @include border;
    width: 100%;
    height: 60%;
    display: none;
    position: absolute;
    margin-top: 16.5%;
}

@mixin special-box-pass{
    @include border;
    width: 100%;
    height: 20%;
    display: none;
    position: absolute;
    margin-top: 66.7%;
}
@mixin special-box-btn{
    height: 50%;
    width: 20%;
    margin: 4% 0% 0% 40%;
}
@mixin special-box-title-text{
    @include border;
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: 40px;
}

@mixin special-box-content-text{
    @include border;
    height: 80%;
    width: 85%;
    margin: 5% 0% 0% 7%;
}

//Chance Box
.chance-box{
    @include special-box;
}

.chance-box-title{
    @include special-box-title;
}

.chance-box-content{
    @include special-box-content;
}

.chance-box-pass{
    @include special-box-pass;
}

.chance-box-btn-pass{
    @include special-box-btn
}

.chance-box-title-text{
    @include special-box-title-text()
}

.chance-box-content-text{
    @include special-box-content-text()
}

//Chest Box
.chest-box{
    @include special-box;
}

.chest-box-title{
    @include special-box-title;
}

.chest-box-content{
    @include special-box-content;
}

.chest-box-pass{
    @include special-box-pass;
}

.chest-box-btn-pass{
    @include special-box-btn;
}

.chest-box-title-text{
    @include special-box-title-text;
}

.chest-box-content-text{
    @include special-box-content-text;
}

//Tax Box
.tax-box{
    @include special-box;
}

.tax-box-title{
    @include special-box-title;
}

.tax-box-content{
    @include special-box-content;
}

.tax-box-pass{
    @include special-box-pass;
}

.tax-box-btn-pass{
    @include special-box-btn;
    margin-left: 20%;
}

.tax-box-btn-pass-2{
    @include special-box-btn;
    margin-left: 5%;
    width: 35%;
}

.tax-box-title-text{
    @include special-box-title-text;
}

.tax-box-content-text{
    @include special-box-content-text;
}

//Prison Box
.prison-box{
    @include special-box;
}

.prison-box-title{
    @include special-box-title;
}

.prison-box-content{
    @include special-box-content;
}

.prison-box-action{
    @include special-box-pass;
}

.prison-box-title-text{
    @include special-box-title-text;
}

.prison-box-content-text{
    @include special-box-content-text;
}

.prison-btn{
    margin-left: 9%;
    margin-top: 4%;
}
//Sold Area

.sold-main{
    @include special-box;
}

.sold-title{
    @include special-box-title;
}

.sold-title-text{
    @include special-box-title-text;
}

.sold-content{
    @include border;
    width: 100%;
    height: 80%;
    position: absolute;
    margin-top: 16.5%;
}

.sell-text-area{
    @include border;
    width: 85%;
    height: 100%;
    float: left;
}

.sell-btn-area{
    @include border;
    width: 15%;
    height: 100%;
    margin-top: 0%;
    float: left;
}

.sell-btn{
    height: 100%;
    width: 15%;
    float: left;
}

.sold-position{
    @include border;
}
//Dice Areas
.dice-1{
    height: 15%;
    width: 10%;
    position: absolute;
    @include border;
    margin: -12% 0% 0% 40%;
}

.dice-2{
    height: 15%;
    width: 10%;
    position: absolute;
    @include border;
    margin: 6% 0% 0% 5%;
}

.dice-point{
    height: 25%;
    width: 25%;
    border-radius: 50%;
    @include border;
    background-color: black;
}

.dice-1-point{
    height: 100%;
    width: 100%;
    margin: 35% 0% 0% 38%;
    display: none;
}

@mixin multi-dice-point{
    height: 100%;
    width: 100%;
    @include border;
    display: none;
}
.dice-2-point{
    @include multi-dice-point;
    display: none;
}

.dice-3-point{
    @include multi-dice-point;
    display: none;
}

.dice-4-point{
    @include multi-dice-point;
    display: none;
}

.dice-5-point{
    @include multi-dice-point;
    display: none;
}

.dice-6-point{
    @include multi-dice-point;
    display: none;
}

//Building Area
@mixin house{
    @include border;
    background-color: #1ed85c;
    display: none;
}
.house-bottom-top{
    @include house;
    width: 24%;
    height: 100%;
    margin-left: 3%;
}

.house-side{
    @include house;
    height: 24%;
    width: 100%;
    margin-top: 3%;
}

.hotel-bottom-top{
    @include border;
    width: 50%;
    height: 100%;
    display: none;
    background-color: #ee5555;
    margin-left: 25%;
}

.hotel-side{
    @include border;
    width: 100%;
    height: 50%;
    display: none;
    background-color: #ee5555;
    margin-top: 40%;
}