.board-holder {
  /*border: 1px solid black;*/
  height: 100%;
  width: 100%;
}

.buton {
  position: relative;
  margin-left: 35%;
  margin-top: 10%;
  transform: rotate(-45deg);
  display: inline;
}

.community {
  border: 1px solid black;
  height: 20%;
  width: 30%;
  transform: rotate(-45deg);
  margin: 12% 0% 0% 5%;
  display: block;
}

.chance {
  border: 1px solid black;
  height: 20%;
  width: 30%;
  transform: rotate(-45deg);
  margin: 12% 0% 0% 65%;
  display: block;
}

.board-outer {
  height: 116%;
  width: 80%;
  margin: 0% 0% 0% 10%;
  display: grid;
  grid-template-columns: repeat(13, 7.7%);
  grid-template-rows: repeat(13, 7%);
}

.board-field {
  border: 1px solid black;
  height: 100%;
  width: 100%;
}

.field {
  border: 1px solid black;
  height: 100%;
}

.inside-field {
  border: 1px solid black;
  grid-column: 3/12;
  grid-row: 3/12;
}

.top-left-corner-field {
  border: 1px solid black;
  grid-column: 1/3;
  grid-row: 1/3;
  position: relative;
}

.top-right-corner-field {
  border: 1px solid black;
  grid-column: 12/14;
  grid-row: 1/3;
  position: relative;
}

.bottom-left-corner-field {
  border: 1px solid black;
  grid-column: 1/3;
  grid-row: 12/14;
  position: relative;
}

.bottom-right-corner-field {
  border: 1px solid black;
  grid-column: 12/14;
  grid-row: 12/14;
  position: relative;
}

.top-row-field {
  border: 1px solid black;
  position: relative;
  grid-row: 1/3;
}

.left-side-field {
  border: 1px solid black;
  position: relative;
  grid-column: 1/3;
}

.right-side-field {
  border: 1px solid black;
  position: relative;
  grid-column: 12/14;
}

.bottom-row-field {
  border: 1px solid black;
  position: relative;
  grid-row: 12/14;
}

.brown-color {
  width: 103%;
  height: 25%;
  margin-top: -1%;
  margin-left: -2%;
  border: 1px solid black;
  background-color: brown;
}

.light-blue-color {
  width: 103%;
  height: 25%;
  margin-top: -1%;
  margin-left: -2%;
  border: 1px solid black;
  background-color: lightblue;
}

.black-color-B {
  width: 103%;
  height: 25%;
  margin-top: -1%;
  margin-left: -2%;
  border: 1px solid black;
  background-color: black;
}

.black-color-L {
  width: 25%;
  height: 103%;
  float: right;
  margin-top: -1%;
  margin-right: -1%;
  border: 1px solid black;
  background-color: black;
}

.pink-color {
  width: 25%;
  height: 103%;
  float: right;
  margin-top: -1%;
  margin-right: -1%;
  border: 1px solid black;
  background-color: pink;
}

.orange-color {
  width: 25%;
  height: 103%;
  float: right;
  margin-top: -1%;
  margin-right: -1%;
  border: 1px solid black;
  background-color: orange;
}

.black-color-R {
  width: 25%;
  height: 103%;
  float: left;
  margin-top: -1%;
  margin-left: -1%;
  border: 1px solid black;
  background-color: black;
}

.blue-color {
  width: 25%;
  height: 103%;
  float: left;
  margin-top: -1%;
  margin-left: -1%;
  border: 1px solid black;
  background-color: blue;
}

.green-color {
  width: 25%;
  height: 103%;
  float: left;
  margin-top: -1%;
  margin-left: -1%;
  border: 1px solid black;
  background-color: green;
}

.black-color-T {
  width: 103%;
  height: 25%;
  margin-top: -1%;
  margin-left: -2%;
  border: 1px solid black;
  background-color: black;
}

.red-color {
  width: 103%;
  height: 25%;
  margin-top: -1%;
  margin-left: -2%;
  border: 1px solid black;
  background-color: red;
}

.yellow-color {
  width: 103%;
  height: 25%;
  margin-top: -1%;
  margin-left: -2%;
  border: 1px solid black;
  background-color: yellow;
}

.text {
  font-size: 11px;
  font-weight: bold;
}

.text-2 {
  font-size: 15px;
  margin-top: -12%;
  width: 40%;
  float: left;
}

.pawn-place-1-R {
  height: 50%;
  width: 25%;
  position: absolute;
  margin-top: -27%;
  margin-left: 75%;
}

.pawn-place-2-R {
  height: 50%;
  width: 25%;
  position: absolute;
  margin-top: -4%;
  margin-left: 75%;
}

.pawn-place-1-L {
  height: 50%;
  width: 25%;
  position: absolute;
  margin-top: -27%;
  margin-left: 45%;
}

.pawn-place-2-L {
  height: 50%;
  width: 25%;
  position: absolute;
  margin-top: -7%;
  margin-left: 45%;
}

.pawn-place-1-T {
  height: 25%;
  width: 50%;
  margin-top: 25%;
  position: absolute;
}

.pawn-place-2-T {
  height: 25%;
  width: 50%;
  margin-top: 25%;
  position: absolute;
  margin-left: 50%;
}

.pawn-place-1-B {
  height: 25%;
  width: 50%;
  margin-top: 25%;
  position: absolute;
}

.pawn-place-2-B {
  height: 25%;
  width: 50%;
  margin-top: 25%;
  position: absolute;
  margin-left: 50%;
}

.chance-S {
  height: 150%;
  width: 40%;
  border: 1px solid black;
  transform: rotate(-90deg);
  margin-top: -10.5%;
  margin-left: 12%;
  text-align: center;
  font-size: 60px;
}

.chance-TB {
  border: 1px solid black;
  height: 55%;
  width: 98%;
  text-align: center;
  font-size: 45px;
}

.chest-area-left {
  border: 1px solid black;
  height: 120%;
  width: 40%;
  margin: -4% 0% 0% 45%;
  transform: rotate(90deg);
  position: relative;
}

.chest-area-right {
  border: 1px solid black;
  height: 120%;
  width: 40%;
  margin: -5% 0% 0% 15%;
  transform: rotate(-90deg);
  position: relative;
}

.electric-field {
  border: 1px solid black;
  height: 120%;
  width: 40%;
  margin: -4% 0% 0% 45%;
  transform: rotate(90deg);
  position: relative;
}

.luxury-tax {
  border: 1px solid black;
  height: 120%;
  width: 40%;
  margin: -5% 0% 0% 15%;
  transform: rotate(-90deg);
  position: relative;
}

.special {
  border: 1px solid black;
  height: 55%;
  width: 98%;
  text-align: center;
  font-size: 20px;
}

.start-arrow-main {
  border: 1px solid black;
  width: 60%;
  height: 10%;
  background-color: red;
  margin: 20% 0% 0% 10%;
}

.start-arrow-top {
  border: 1px solid black;
  width: 25%;
  height: 10%;
  background-color: red;
  margin: -14% 0% 0% 5%;
  transform: rotate(-45deg);
}

.start-arrow-bottom {
  border: 1px solid black;
  width: 25%;
  height: 10%;
  background-color: red;
  transform: rotate(45deg);
  margin: 5% 0% 0% 5%;
}

.start-text {
  margin-left: 5%;
}

.jail-main {
  border: 1px solid black;
  height: 70%;
  width: 70%;
  margin: -1% 0% 0% 30%;
  background-color: orange;
}

.jail-box {
  height: 60%;
  width: 75%;
  border: 1px solid black;
  background-color: white;
  margin: 15% 0% 0% 12%;
  transform: rotate(35deg);
}

.jail-bar {
  border: 1px solid black;
  background-color: grey;
  height: 100%;
  width: 10%;
  float: left;
  margin-left: 12%;
}

.go-jail-main {
  border: 1px solid black;
  height: 70%;
  width: 70%;
  margin: 27% 0% 0% 0%;
}

.parking-main {
  border: 1px solid black;
  height: 70%;
  width: 70%;
  margin: 29% 0% 0% 30%;
}

.info-box {
  border: 1px solid black;
  height: 65%;
  width: 50%;
  position: absolute;
  margin-top: 2.5%;
  margin-left: 2%;
  background-color: white;
  display: none;
}

.info-box-color {
  border: 1px solid black;
  width: 100%;
  height: 20%;
}

.info-box-name {
  width: 100%;
  height: 25%;
  margin-top: 5%;
}

.info-box-value {
  border-bottom: 1px solid black;
  width: 100%;
  height: 25%;
  margin-top: 5%;
}

.info-box-title {
  height: 70%;
  width: 20%;
  display: block;
  font-size: 35px;
  margin: 5% 0% 0% 10%;
}

.info-box-text {
  width: 60%;
  height: 20%;
  display: block;
  margin: -10% 0% 0% 30%;
}

.info-box-btn-action {
  width: 20%;
  height: 10%;
  margin: 2.5% 0% 0% 15%;
}

.info-box-btn-pass {
  width: 20%;
  height: 10%;
  margin: 2.5% 0% 0% 30%;
}

.chance-box {
  border: 1px solid black;
  height: 65%;
  width: 50%;
  position: absolute;
  margin-top: 2.5%;
  margin-left: 2%;
  background-color: white;
  display: none;
}

.chance-box-title {
  border: 1px solid black;
  width: 100%;
  height: 20%;
  display: none;
  position: absolute;
}

.chance-box-content {
  border: 1px solid black;
  width: 100%;
  height: 60%;
  display: none;
  position: absolute;
  margin-top: 16.5%;
}

.chance-box-pass {
  border: 1px solid black;
  width: 100%;
  height: 20%;
  display: none;
  position: absolute;
  margin-top: 66.7%;
}

.chance-box-btn-pass {
  height: 50%;
  width: 20%;
  margin: 4% 0% 0% 40%;
}

.chance-box-title-text {
  border: 1px solid black;
  height: 100%;
  width: 100%;
  text-align: center;
  font-size: 40px;
}

.chance-box-content-text {
  border: 1px solid black;
  height: 80%;
  width: 85%;
  margin: 5% 0% 0% 7%;
}

.chest-box {
  border: 1px solid black;
  height: 65%;
  width: 50%;
  position: absolute;
  margin-top: 2.5%;
  margin-left: 2%;
  background-color: white;
  display: none;
}

.chest-box-title {
  border: 1px solid black;
  width: 100%;
  height: 20%;
  display: none;
  position: absolute;
}

.chest-box-content {
  border: 1px solid black;
  width: 100%;
  height: 60%;
  display: none;
  position: absolute;
  margin-top: 16.5%;
}

.chest-box-pass {
  border: 1px solid black;
  width: 100%;
  height: 20%;
  display: none;
  position: absolute;
  margin-top: 66.7%;
}

.chest-box-btn-pass {
  height: 50%;
  width: 20%;
  margin: 4% 0% 0% 40%;
}

.chest-box-title-text {
  border: 1px solid black;
  height: 100%;
  width: 100%;
  text-align: center;
  font-size: 40px;
}

.chest-box-content-text {
  border: 1px solid black;
  height: 80%;
  width: 85%;
  margin: 5% 0% 0% 7%;
}

.tax-box {
  border: 1px solid black;
  height: 65%;
  width: 50%;
  position: absolute;
  margin-top: 2.5%;
  margin-left: 2%;
  background-color: white;
  display: none;
}

.tax-box-title {
  border: 1px solid black;
  width: 100%;
  height: 20%;
  display: none;
  position: absolute;
}

.tax-box-content {
  border: 1px solid black;
  width: 100%;
  height: 60%;
  display: none;
  position: absolute;
  margin-top: 16.5%;
}

.tax-box-pass {
  border: 1px solid black;
  width: 100%;
  height: 20%;
  display: none;
  position: absolute;
  margin-top: 66.7%;
}

.tax-box-btn-pass {
  height: 50%;
  width: 20%;
  margin: 4% 0% 0% 40%;
}

.tax-box-title-text {
  border: 1px solid black;
  height: 100%;
  width: 100%;
  text-align: center;
  font-size: 40px;
}

.tax-box-content-text {
  border: 1px solid black;
  height: 80%;
  width: 85%;
  margin: 5% 0% 0% 7%;
}
