@import "variables.scss";

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
    overflow-y: hidden;
}

/*.side{
    background-color: $side-color;
}*/

/*Player Window*/
.player_1-tab{
    background-color: $player-1;
    height: 113.7%;
    width: 100%;
    margin-left: 3%;
}

.player_2-tab{
    background-color: $player-2;
    height: 113.7%;
    width: 100%;
    margin-left: -3%;
}

.player_3-tab{
    background-color: $player-3;
    height: 100%;
    width: 100%;
}

.player_4-tab{
    background-color: $player-4;
    height: 100%;
    width: 100%;
}

.player-name{
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-align: center;
    width: 80%;
    margin-left: 10%;
}

.player-1-balance{
    font-size: 30px;
    font-weight: bold;
    border: 5px ridge $player-1;
    background-color: #dbdbdb;
    text-align: center;
    margin-top: -7%;
    width: 80%;
    margin-left: 10%;
}

.player-2-balance{
    font-size: 30px;
    font-weight: bold;
    border: 5px ridge $player-2;
    background-color: #dbdbdb;
    text-align: center;
    margin-top: -7%;
    width: 80%;
    margin-left: 10%;
}

.player-1{
    border: 1px solid black;
    background-color: $player-1;
    height: 70%;
    width: 50%;
    margin-top: 25%;
    margin-left: 25%;
}

//Properties Cards Area
.player-1-prop{
    height: 27%;
    width: 90%;
    margin-left: 5%;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: repeat(2, 50%);
}

.prop-area-p1{
    border: 1px solid black;
    display: grid;
    grid-template-rows: repeat(1, 100%);
    grid-template-columns: repeat(5, 20%);
}

.rail-4-cards{
    height: 90%;
    width: 90%;
    border: 1px solid black;
    margin: 10% 0% 0% 5%;
}

.rail-4-cards-head-top{
    border: 1px solid black;
    width: 100%;
    height: 12.5%;
    background-color: grey;
}

@mixin rail-4-cards-head{
    border: 1px solid black;
    width: 100%;
    height: 12.5%;
    background-color: grey;
    margin-top: 10%;
}

.rail-cards{
    @include rail-4-cards-head;
}

.last-rail-card-head{
    @include rail-4-cards-head;
    height: 25%;

}
.last-rail-card{
    border: 1px solid black;
    width: 100%;
    height: 55%;
}

.prop-3-cards{
    border: 1px solid black;
    height: 70%;
    width: 90%;
    margin: 10% 0% 0% 5%;
}

.prop-3-cards-head-top{
    border: 1px solid black;
    height: 15%;
    width: 102%;
    margin-left: -1%;
    background-color: grey;
}

.prop-3-cards-head{
    border: 1px solid black;
    height: 15%;
    width: 102%;
    margin-top: 12.5%;
    margin-left: -1%;
    background-color: grey;
}

.prop-2-cards{
    height: 50%;
    width: 90%;
    border: 1px solid black;
    margin: 10% 0% 0% 5%;
}

.prop-2-cards-head-top{
    border: 1px solid black;
    height: 15%;
    width: 102%;
    margin-left: -1%;
    background-color: grey;
}

.prop-2-cards-head{
    border: 1px solid black;
    height: 15%;
    width: 102%;
    margin-left: -1%;
    margin-top: 20%;
    background-color: grey;
}


//Prison Cards
.prison-out-area{
    border: 1px solid black;
    height: 8%;
    width: 90%;
    background-color: white;
    margin: 5% 0% 0% 5%;
}

.prison-out-card{
    border: 1px solid black;
    height: 90%;
    width: 40%;
    margin: 1% 0% 0% 5%;
}

//Property Card Show
.card-show-field{
    border: 1px solid black;
    height: 40%;
    width: 90%;
    background-color: white;
    margin: 5% 0% 0% 5%;
}

.card-area-main{
    border: 1px solid black;
    height: 93%;
    width: 90%;
    margin: 5% 0% 0% 5%;
}

.card-area-title{
    height: 15%;
    width: 90%;
    border: 1px solid black;
    margin: 3% 0% 0% 5%;
}

.card-area-title-text{
    //border: 1px solid black;
    color: rgb(155, 155, 155);
    width: 90%;
    height: 80%;
    text-align: center;
    margin: 2.5% 0% 0% 5%;
}

.card-area-taxes{
    border: 1px solid black;
    height: 50%;
    width: 90%;
    margin: 5% 0% 0% 5%;
}

.card-area-taxes-field{
    height: 16.7%;
    width: 100%;
    //border: 1px solid black;
}


.card-area-build-price{
    height: 22%;
    width: 90%;
    margin: -5% 0% 0% 5%;
    border: 1px solid black;
}

.card-area-tax-text{
    //border: 1px solid black;
    width: 50%;
    height: 100%;
    margin-top: -1%;
    float: left;
}

.card-area-tax-data{
    //border: 1px solid black;
    width: 30%;
    height: 100%;
    float: right;
    margin-top: -1%;
}