html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.side {
  background-color: #a1a1a1;
}

/*Player Window*/
.player_1-tab {
  background-color: #ca1a1a;
  height: 50%;
  width: 100%;
}

.player_2-tab {
  background-color: #33b6df;
  height: 50%;
  width: 100%;
}

.player_3-tab {
  background-color: #41f55f;
  height: 100%;
  width: 100%;
}

.player_4-tab {
  background-color: #e4ff4b;
  height: 100%;
  width: 100%;
}

.player-name {
  font-size: 30px;
  font-weight: bold;
}

.player-balance {
  font-size: 30px;
}

.player-1 {
  border: 1px solid black;
  background-color: #ca1a1a;
  height: 50%;
  width: 50%;
  margin-top: 25%;
  margin-left: 25%;
}
