body{
    background-color: #000000;
}

/*Game Page Start*/
.main{
    width: 99%;
    height: 97%;
    border: 1px solid white;
    position: absolute;
}

.hanger-area{
    color: white;
    width: 48%;
    height: 60%;
    border: 1px solid white;
    position: relative;
}

.missed-letters{
    color: white;
    width: 48%;
    height: 40%;
    border: 1px solid white;
    position: absolute;
    left: 51%;
    bottom: 59%;
}

.password{
    color: white;
    border: 1px solid white;
    width: 48%;
    height: 35%;
    position: relative;
    top: 3%;
    justify-items: center;
}

.letters{
    color: white;
    border: 1px solid white;
    width: 48%;
    height: 50%;
    position: relative;
    left: 51%;
    top: -47%;
}

.letters-buttons{
    display: grid;
    grid-template-columns: repeat(8, 12.5%);
    grid-template-rows: repeat(4, 99.6%);
    color: white;
}

.alphabet_btn{
    background-color: black;
    color: white;
    text-align: center;
    height: 100%;
    width: 100%;
}

.used-letters{
    color: white;
    border: 1px solid white;
    height: 49.5%;
    width: 100%;
}

.info-letters{
    color: white;
    border: 1px solid white;
    height: 49.5%;
    width: 100%;
}

.info{
    color: white;
    font-size: 220%;
    margin: 7% 0% 0% 0%;
    text-align: center;
}

.use{
    margin-top: 2%;
    font-size: 150%;
}

.pass_word{
    float: left;
    text-align: center;
}

.word{
    text-align: center;
    margin-left: 17%;
    margin-top: 11%;
    font-size: 40px;
}

.new_game{
    float: right;
    width: 15%;
    height: 100%;
    border: 1px solid white;
    margin-top: -11%;
    display: inline;
}

#new_game_btn{
    background-color: black;
    color: white;
    text-align: center;
    height: 100%;
    width: 100%;
    display: none;
}

/*Welcome Page Start*/

.self{
    color: black;
    border: 1px solid white;
    height: 50%;
    width: 33%;
    margin-left: 35%;
    margin-top: 70%;
}

.rand{
    border: 1px solid white;
    height: 50%;
    width: 33%;
    margin-left: 35%;
    margin-top: 70%;

}